[submodule "cimloop"]
	path = cimloop
	url = https://github.com/doctryucsd/cimloop.git
[submodule "DNN_NeuroSim_V1.4"]
	path = DNN_NeuroSim_V1.4
	url = https://github.com/doctryucsd/DNN_NeuroSim_V1.4.git
[submodule "pytorx"]
	path = pytorx
	url = https://github.com/doctryucsd/pytorx.git
[submodule "timeloop"]
	path = timeloop
	url = https://github.com/doctryucsd/timeloop-accelergy-exercises.git
[submodule "neurosim"]
	path = neurosim
	url = https://github.com/doctryucsd/DNN_NeuroSim_V1.4.git
